<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FarmDocsLink" value="http://potok.wac.local/FarmDocs/"/>
    <add key="FarmDocsHome" value="\\walton01\Data\Farms\"/>
    
    <add key="ContractorDocsLink" value="http://potok.wac.local/ContractorDocs/"/>
    <add key="ContractorDocsHome" value="\\walton01\Data\CONTRACTORS\Contractor_docs\"/>

    <add key="OldDocumentDirectory" value="\\potok\FAMEDOCS\A\"/>
  </appSettings>
</configuration>