<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="wacFameDB" connectionString="Data Source=JAMESSIETSMA-HP\SQLEXPRESS;Initial Catalog=wacTest;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <appSettings>
    <add key="EnableUploadEmails" value="false" />
    <add key="FarmsHomeFolder" value="E:\Projects\fame uploads\Farms\"/>
    <add key="ContractorsHomeFolder" value="E:\Projects\fame uploads\Contractors"/>
    <add key="UploadDropDirectory" value="E:\Projects\fame uploads\upload_drop"/>
    <add key="ErrorLogPath" value="E:\projects\fame uploads\logs\error-logs\"/>
    <add key="TransferLogPath" value="E:\projects\fame uploads\logs\transfer-logs\"/>
    <add key="SystemLogPath" value="E:\projects\fame uploads\logs\system-logs\"/>
    <add key="UploaderEmailUser" value="famedocs@nycwatershed.org"/>
    <add key="UploaderEmailPass" value="Potok9"/>
    <add key="UploaderEmailPort" value=""/>
  </appSettings>
</configuration>
